<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 mb-3 fs-3">Environment Information</div>
    <div class="col-12">
      <dl>
        <dt>Platform</dt>
        <dd>{{platform}}</dd>
        <dt>CPUs</dt>
        <dd>{{cpus}}</dd>
        <dt>Path of execution</dt>
        <dd>{{execPath}}</dd>
        <dt>PID</dt>
        <dd>{{pid}}</dd>
        <dt>Memory (RSS)</dt>
        <dd>{{memory}}</dd>
        <dt>Node version</dt>
        <dd>{{version}}</dd>
        <dt>Arguments</dt>
        <dd>{{argv}}</dd>
      </dl>
    </div>
  </div>
</div>